
@charset "utf-8";
/* @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); */



@font-face {
    font-family: 'BusanBada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BusanBada.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* NotoSans */
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 100;
	src:url('../fonts/NotoSansKR-Light.eot');
	src:local(※),
		url('../fonts/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSansKR-Light.woff') format('woff');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 400;
	src:url('../fonts/NotoSansKR-Regular.eot');
	src:local(※),
		url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSansKR-Regular.woff') format('woff');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 500;
	src:url('../fonts/NotoSansKR-Medium.eot');
	src:local(※),
		url('../fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSansKR-Medium.woff') format('woff');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 700;
	src:url('../fonts/NotoSansKR-Bold.eot');
	src:local(※),
		url('../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSansKR-Bold.woff') format('woff');
}


