
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서울성동경찰서</title>
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <script src="{% static '/js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static '/js/common.js'%}"></script>
</head>
<body>
    <div id="wrap">
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>